@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LibraryMvcApp.Models.RegistrantModel
@{
    ViewBag.Title = "Registration";
    bool disableButtonFlag = false;
}

<h2>Registration Page</h2>

@if (ViewBag.Message!=null)
{
    disableButtonFlag = true;
    if (ViewBag.Message.Contains("Welcome"))
    {
        <div class="message success"><h4 class="success">@ViewBag.Message</h4></div>
         disableButtonFlag = true;
    }
    else
    {
        <div class="message error"><h4 class="error">@ViewBag.Message</h4></div>
        disableButtonFlag = false;
    }
}

<div class="container-sm">
    @using (Html.BeginForm("Index","Registration"))
    {
        <form>
            <div class="form-group">
                @Html.LabelFor(model => model.UserName)<text>:</text>
                @Html.TextBoxFor(model => model.UserName, new { @class="form-control", @placeholder="Enter a user name:"})
                @Html.ValidationMessageFor(model => model.UserName, "", new {@class = "alert-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Password)<text>:</text>
                @Html.PasswordFor(model => model.Password, new { @class="form-control", @placeholder="Enter a password:"})
                @Html.ValidationMessageFor(model => model.Password, "", new {@class = "alert-danger"})
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FirstName)<text>:</text>
                @Html.TextBoxFor(model => model.FirstName, new { @class="form-control", @placeholder="Enter your first name:"})
                @Html.ValidationMessageFor(model => model.FirstName, "", new {@class = "alert-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.LastName)<text>:</text>
                @Html.TextBoxFor(model => model.LastName, new { @class="form-control", @placeholder="Enter your last name:"})
                @Html.ValidationMessageFor(model => model.LastName, "", new {@class = "alert-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email)<text>:</text>
                @Html.TextBoxFor(model => model.Email, new { @class="form-control", @placeholder="Enter your email address:"})
                @Html.ValidationMessageFor(model => model.Email, "", new {@class = "alert-danger"})
            </div>

            <div>
                <input type="submit" value="Register" class="btn btn-primary" disabled="@(disableButtonFlag ? "disabled" : null)"/>
                <input type="reset" value="Clear" class="btn btn-primary" disabled="@(disableButtonFlag ? "disabled" : null)" />
            </div>
        </form>
    }
</div>


